* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*CABEÇALHO*/
.cabecalho-div-login {
display: flex;
justify-content:space-between;
font-family: "", cursive;
margin: 30px;
}

.home {
text-align: center;
font-family: "", cursive;
margin: 10px;
}

.botao-login-cabecalho {
width: 200px;
height: 40px;
background-color: var(--black);
color: var(--white);
border-radius: 10px;
}


/*BODY*/

