* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*CABEÇALHO*/
.cabecalho-div-login {
display: flex;
justify-content:space-between;
font-family: "", cursive;
margin: 30px;
}

.home {
text-align: center;
font-family: "", cursive;
margin: 10px;
}

.botao-login-cabecalho {
width: 200px;
height: 40px;
background-color: var(--black);
color: var(--white);
border-radius: 10px;
}


/*BODY*/
.grid-container {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat( 4);
   gap: 20px 5px;
   
  }

  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

.everest {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.fuji {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
  
.alpes {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.canyon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.monte-branco {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.elbrus {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pike {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.doy {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}


/*ÍCONES*/
.icone-page{
position: absolute;
background-color: gray;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 30px;
}

.icone-page img{
width: 50px;
height: 50px;
}

.botao-like {

}